.wording{
    color: #d5e3f5;
    font-size: 25px;
    
}

.endwith{
    color: #d5e3f5;
    font-size: 12px;
}

.warp{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-end;
}