.capsuleCircleWarp{
    font-size: 1em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border: 2px solid #ea516a;
    border-radius: 50%;
    transition: box-shadow 0.5s ease,width 0.5s ease,height 0.5s ease;
    &:hover{
        cursor: pointer;
        box-shadow: 0 .5rem 1rem -.25rem #ea516a;
    }
    margin-left: .25em;
    margin-right: .25em;
}

.capsuleCircleActiveWarp{
    font-size: 1em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border: 2px solid #ea516a;
    border-radius: 50%;
    transition: box-shadow 0.5s ease,width 0.5s ease,height 0.5s ease;
    &:hover{
        cursor: pointer;
        box-shadow: 0 .5rem 1rem -.25rem #ea516a;
    }
    background-color: #ea516a!important;
    margin-left: .25em;
    margin-right: .25em;
}