.warp{
    font-size: 14px;
    color: #D1C7C5;
    width: 40ch;
    margin: 2rem 0;
    font-family: "SF Pro Text", "Helvetica Now Variable", sans-serif;
}
.warpApp{
    font-size: 14px;
    color: #D1C7C5;
    margin: 2rem 0;
    font-family: "SF Pro Text", "Helvetica Now Variable", sans-serif;
}