.semiCBarTitleWarp{
    color: #fffffa;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: 800;
}

.semiCBarTitleWarpMicro{
    color: #fffffa;
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: 800;
}

.semiCBarTitleWarpApp{
    color: #fffffa;
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: 800;
}
.semiCBarWarp{
  margin:0 auto;
}
.semiCStartDateWarp{
    color: #f4f8ff7d;
    font-size: .8rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

.semiCStartDateWarpApp{
    color: #f4f8ff7d;
    font-size: .6rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
}

.semiCStartDateWarpMicro{
    color: #f4f8ff7d;
    font-size: .6rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}




