.wrap{
    font-size: 3rem;
    color: #fff;
    padding-top: 1.25em;
    // margin-bottom: .6em;
    font-weight: 800;
}
.mobileWrap{
    font-size: 2rem;
    color: #fff;
    padding-top: 1.25em;
    // margin-bottom: .6em;
    font-weight: 800;
}