.titleWarp{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 80px;
}

.introductionWarp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12em;
}

*{
    background-color:#1a202c;   
}

.frontendWarp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12em;
    
    background-image: url('../assets/png/background-MuHVchmm.webp');
}

.frontendWarp  *{
    background-color: transparent;
}
