.releseNoteWarp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 960px;
}
.releseNoteWarpApp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%; 
}
.releseNoteWarpMicro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; 
}