.releseNoteWarp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 960px;
}
.releseNoteWarpApp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%; 
}
.releseNoteWarpMicro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; 
}
.cardListWarp{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}
.pageHelperWarp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}